<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>219806915041-v09daooi3227o6ln52bpr621hq3qa2fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219806915041-v09daooi3227o6ln52bpr621hq3qa2fa</string>
	<key>API_KEY</key>
	<string>AIzaSyDGKJ6KVgBJRra_gSbi_wRjUGZjB83uVkE</string>
	<key>GCM_SENDER_ID</key>
	<string>219806915041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OpenMic.OpenMic</string>
	<key>PROJECT_ID</key>
	<string>openmic-37c42</string>
	<key>STORAGE_BUCKET</key>
	<string>openmic-37c42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219806915041:ios:401f5485c0c6dc9a</string>
	<key>DATABASE_URL</key>
	<string>https://openmic-37c42.firebaseio.com</string>
</dict>
</plist>